.calendar {
  width: 80%;
  background-color: white;
  border: solid 2px;
}
.calendar-header {
  border-top: solid 1px;
  border-bottom: solid 1px;
}
.calendar-weeks {
  display: flex;
}
.calendar-week {
  width: 14%;
}
.calendar-days {
  display: flex;
  flex-wrap: wrap;
}
.DatePanel {
  width: 14%;
}
.DatePanel:hover {
  background-color: gray;
}
.DatePanel:active {
  /*background-color: aqua;*/
}
#datepanel-unactive {
  color: gray;
}
#datepanel-def {
  color: black;
}
#datepanel-sun {
  color: red;
}
#datepanel-sat {
  color: blue;
}
#datepanel-select {
  background-color: rgb(0, 102, 255);
  color: white;
}
.datepanel-planarea {
  height: 20px;
  /*background-color: aquamarine;*/
}
.datepanel-shiftarea {
  height: 45px;
  /*background-color: cadetblue;*/
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
