/*Top*/
.login_button {
  border: 0px;
  width: 151px;
  height: 44px;
  background: url(../line/btn_login_base.png) left top no-repeat;
  margin: 10px;
}
.login_button:hover {
  background: url(../line/btn_login_hover.png) left top no-repeat;
}
.login_button:active {
  background: url(../line/btn_login_press.png) left top no-repeat;
}
/*Home*/
.infotext {
  font-size: 14px;
  color: #b93892;
  font-weight: bold;
}
.reception {
  padding: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #5f28c4;
  margin: 0%;
  color: #5f28c4;
}
.itemholder {
  margin: 3px auto;
}
.redbutton {
  color: #b93892;
  border: solid 1px #b93892;
  background-color: white;
  margin: 3px 10px;
  width: 80px;
  display: inline-block;
  text-decoration: none;
  transition: 0.4s;
  height: 30px;
  margin: 0 1;
}
.redbutton:hover {
  background: #b93892;
  color: white;
}
.bluebutton {
  color: #5f28c4;
  border: solid 1px #5f28c4;
  background-color: white;
  margin: 3px 10px;
  width: 80px;
  display: inline-block;
  text-decoration: none;
  transition: 0.4s;
  height: 30px;
  margin: 0 1;
}
.bluebutton:hover {
  background: #5f28c4;
  color: white;
}
.greenbutton {
  color: #004918;
  border: solid 1px #004918;
  background-color: white;
  margin: 3px 10px;
  width: 80px;
  display: inline-block;
  text-decoration: none;
  transition: 0.4s;
  height: 30px;
  margin: 0 1;
}
.greenbutton:hover {
  background: #004918;
  color: white;
}
.lightgreenbutton {
  border: solid 1px #1dbea9;
  color: #1dbea9;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  margin: 3px 10px;
  width: 60%;
  display: inline-block;
  text-decoration: none;
  transition: 0.4s;
  height: 30px;
  margin: 0 1;
}
.lightgreenbutton:hover {
  background: #1dbea9;
  color: white;
}

.calendaritem {
  height: 30px;
}
.flameholder {
  margin: 0 10px;
  padding: 3px;
}
.flame {
  max-width: 380px;
  border: solid 2px #5f28c4;
  padding: 0.3em;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.5);
}
.modaltitle {
  margin: 0;
}
.modalheight {
  overflow-y: scroll;
  max-height: 250px;
}
.timeselect {
  border: solid 1px #5f28c4;
  width: 30%;
  height: 30px;
  margin: 2px;
  background: white;
  font-size: 16px;
}

/*Setting*/
.profileholder {
  padding: 0 5px;
}
.profilesetting {
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 2px #5f28c4;
  padding: 0.3em;
  margin: 5px auto;
}
.profilecard {
  background-color: #ffffff;
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
  padding: 3px;
}
.worktime {
  margin: 10px;
}

.administerview {
  margin: 10px 0px;
  background-color: #130331;
  padding: 10px;
}
.administerheader {
  margin: 0px;
  color: #937ac2;
  background: -webkit-linear-gradient(top, #ffffff, #937ac2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'serif', serif;
}
.administerbutton {
  color: #c5b8dd;
  border: solid 1px #c5b8dd;
  margin: 5px;
  background-color: #130331;
  padding: 2px;
  width: 120px;
  height: 30px;
  transition: 0.4s;
}
.administerbutton:hover {
  background: #c5b8dd;
  color: #130331;
}
.administerbuttonreverse {
  color: #130331;
  border: solid 1px #130331;
  margin: 5px;
  background-color: #c5b8dd;
  padding: 2px;
  width: 120px;
  height: 30px;
  transition: 0.4s;
}
.administerbuttonreverse:hover {
  background: #130331;
  color: #c5b8dd;
}
.manualdiv {
  display: inline-block;
  color: rgb(58, 58, 58);
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 0 8px gray;
}
.outlinkButton {
  display: flex;
  color: rgb(58, 58, 58);
  justify-content: center;
  width: 100px;
}
/*Wishlist*/
.shittablediv {
  display: inline-block;
  width: 100%;
}
.shifttable {
  display: inline-block;
  position: relative;
  width: 95%;
  max-width: min-content;
  overflow: scroll;
  text-align: center;
  border-collapse: collapse;
  background-color: white;
  margin: 10px;
  max-height: 500px;
  border-collapse: collapse;
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
}
.shifttable thead,
.shifttable tbody {
  display: block;
  width: max-content;
}
.shifttable tr {
  border-bottom: solid 1px #dbdbdb;
}
.shifttable tbody th {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
  width: 100px;
  background-color: #ffffff;
}
.shifttable thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #ffffff;
}
.shifttable thead th.blank {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100px;
  background: #ffffff;
}
.shifttable tbody tr:nth-child(odd),
.shifttable tbody tr:nth-child(odd) th {
  background: #cacaca;
}
.shifttable th,
.shifttable td {
  display: inline-block;
  padding: 10px 5px;
  min-width: 50px;
}
.shifttable td {
  width: 50px;
}

.wishtable {
  display: inline-block;
  text-align: center;
  border-collapse: collapse;
  background-color: white;
  margin: 20px;
  box-shadow: 0 0 8px gray;
  border-radius: 10px;
}
.wishtable th {
  color: rgb(59, 53, 70);
}
.wishtable .tablename,
.wishtable .tableday {
  padding: 5px 2px;
  border-right: solid 1px rgb(145, 145, 145);
}
.wishtable .tableheader,
.wishtable tr:not(:last-child) {
  border-bottom: solid 1px rgb(145, 145, 145);
}
.tablename {
  width: 100px;
}
.tableday {
  min-width: 40px;
  width: 50px;
}
.tablecomment {
  width: 80%;
}
.tablecommenttd {
  text-align: left;
}
/*info*/
.infotablebutton {
  color: black;
  border: none;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 70px;
}
.infoTable {
  display: inline-block;
  max-height: 400px;
  overflow-y: scroll;
  margin: 5px;
}
.infoTable thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #ffffff;
}
.infoTable thead th.blank {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100px;
  background: #a3e7de;
  height: 30px;
}
/*Plan*/
.datepicker-button {
  border: solid 1px #5f28c4;
  background: white;
  width: min-content;
  font-size: 18px;
  color: #5f28c4;
  margin: 3px 10px;
  transition: 0.3s;
  padding: 4px 10px;
}
.datepicker-button:hover {
  background-color: #5f28c4;
  color: white;
}
.plan-input {
  font-size: 18px;
  width: 70%;
  max-width: 200px;
  min-width: 100px;
  border: none;
  border-bottom: solid 1px gray;
  padding: 3px 5px;
  margin: 5px 10px 10px 10px;
  text-align: center;
}
.plan-input:focus {
  outline: none;
  border-bottom: solid 1px #5f28c4;
}
.plantable-holder {
  display: inline-block;
}
.plantable {
  background-color: #ffffff;
  border-radius: 10px;
  border-collapse: collapse;
  box-shadow: 0 0 5px gray;
  width: 360px;
  padding: 0 5px;
  max-height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
}
.plantable thead,
.plantable tbody {
  display: block;
  width: max-content;
}
.plantable thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 0;
  background: #ffffff;
}

.plantable-td-date {
  width: 75px;
}
.plantable-td-text {
  width: 70px;
}
.plantable-td-button {
  width: 100px;
}

.plantable-head {
  border-bottom: solid 1px gray;
}
.plantable tbody td {
  border-right: dashed 1px gray;
}
/*Log*/
.black-background {
  background-color: #000000;
}
.logtitle {
  color: #ffffff;
  padding-top: 10px;
  font-size: 18px;
}
.logtable {
  background-color: #000000;
  border-collapse: collapse;
  box-shadow: 0 0 5px gray;
  width: 90%;
  min-width: 360px;
  height: 450px;
  overflow-y: scroll;
  overflow-x: scroll;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 30px;
}
.logtable thead,
.logtable tbody {
  display: block;
  width: max-content;
}
.logtable thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 0;
  background: #000000;
  color: #2dca61;
  border-bottom: solid 1px #2dca61;
}
.logtable-td-date {
  width: 65px;
  color: #2dca61;
  padding: 3px 0;
}
.logtable-td-user {
  width: 80px;
  color: #2dca61;
}
.logtable-td-key {
  width: 100px;
  color: #2dca61;
  overflow: hidden;
}
.logtable-td-delete {
  color: #fd3535;
}
.logtable-td-update {
  color: #d1ce2f;
}
.logtable-td-login {
  color: #38a5ff;
}
.logtable-td-delete-detail {
  color: #fd3535;
  text-align: left;
}
.logtable-td-update-detail {
  color: #d1ce2f;
  text-align: left;
}
.logtable-td-login-detail {
  color: #38a5ff;
  text-align: left;
}
.logtable-td-detail {
  width: max-content;
  min-width: 125px;
  text-align: left;
  color: #2dca61;
}
/*Loadincss*/
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadingtext {
  font-family: 'Norican', serif;
  font-weight: normal;
  color: #661cf1;
}
.orbit-spinner,
.orbit-spinner * {
  box-sizing: border-box;
}

.orbit-spinner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  perspective: 800px;
}

.orbit-spinner .orbit {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.orbit-spinner .orbit:nth-child(1) {
  left: 0%;
  top: 0%;
  animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
  border-bottom: 8px solid #b93892;
}

.orbit-spinner .orbit:nth-child(2) {
  right: 0%;
  top: 0%;
  animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
  border-right: 8px solid #004918;
}

.orbit-spinner .orbit:nth-child(3) {
  right: 0%;
  bottom: 0%;
  animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
  border-top: 8px solid #5f28c4;
}

@keyframes orbit-spinner-orbit-one-animation {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes orbit-spinner-orbit-two-animation {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes orbit-spinner-orbit-three-animation {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@media screen and (max-width: 480px) {
  .redbutton {
    margin: 3px 10px;
  }
  .bluebutton {
    margin: 3px 10px;
  }
  .greenbutton {
    margin: 3px 10px;
  }
}
