.reception{
    background-color: #20C2D3;
    padding: 15px;
    margin: 0%;
}
#dateText{
    color: #e73a3a;
}
.wishbutton{
    width: 80px;
    margin: 5px;
    display: inline-block;
  text-decoration: none;
  color: rgb(57, 129, 223);
  border: solid 2px rgb(57, 129, 223);
  border-radius: 3px;
  transition: .4s;
}
.wishbutton:hover{
    background: rgb(57, 129, 223);
  color: white;
}
#batu{
    color: #e73a3a;
    border: solid 2px #e73a3a;
}
#batu:hover{
    background: #e73a3a;
    color: white;
}
#sankaku{
    color: rgb(35, 190, 82);
    border: solid 2px rgb(35, 190, 82);
}
#sankaku:hover{
    background: rgb(35, 190, 82);
    color: white;
}
#calendar{
    display: inline-block;
    background-color: black;
}
.calendaritem{
    height: 30px;
}
.flame{
    margin: auto;
    width: 350px;
    border: solid 3px #20C2D3;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 5px auto;
}
#prevwish{
    color: #20C2D3;
    border: solid 2px #20C2D3;
}
#prevwish:hover{
    background: #20C2D3;
    color: white;
}
#backwish{
    color: #20C2D3;
    border: solid 2px #20C2D3;
}
#backwish:hover{
    background: #20C2D3;
    color: white;
}
#wishday select{
  background: transparent;
  height: 21px;
  border: 1px solid #20C2D3;
  border-radius: 2px;
}
#submit_shiftdata{
    border: none;
    padding: 0;
    margin: 5px 0 5px 10px;
    display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#submit_shiftdata:hover {
  background: #668ad8;
}