#developer{
    font-size: 10px;
    color: rgb(46, 46, 46);
}
/*Register*/
#namesubtitle{
    font-size: 12px;
}
#registerbutton{
    width: 200px;
}
/*Home*/
#personalheader{
    margin-left: 60%;
}

#settingimg{
    background-image: url("../images/baseline_settings_applications_black_18dp.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    padding: 2px;
    
}


#dateText{
    color: #e73a3a;
}

#calendar{
    display: inline-block;
    background-color: black;
}


#wishday select{
  background: transparent;
  height: 25px;
  border: 1px solid #5f28c4;
  border-radius: 2px;
  margin: 5px 2px 0px 2px;
  font-size: 18px;
  color: rgb(59, 53, 70);
}
#submit_shiftdata{
    border: none;
    padding: 0;
    margin: 5px 0 5px 10px;
    display: inline-block;
  text-decoration: none;
  background: #5f28c4;
  color: #FFF;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
#submit_shiftdata:hover {
  background: #261050;
}

/*Setting*/
#profileimage{
    width:100px;
    height:100px;
    border-radius: 50%;
}
#linename{
    color: rgb(0, 212, 64)
}
#username{
    width: 150px;
}
#updatebutton{
    width: auto;
}
#disbutton{
    width: 80%;
    margin: 3px;
}
#wishlistbutton{
    display: inline-block;
    width: 40%;
    min-width: 250px;
}

@media screen and (max-width: 480px) {
#termbuttons::before{
    content: "\A";
    white-space: pre;
}
}