/*Loadincss*/
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadingtext {
  font-family: 'Norican', serif;
  font-weight: normal;
  color: #661cf1;
}
.orbit-spinner,
.orbit-spinner * {
  box-sizing: border-box;
}

.orbit-spinner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  perspective: 800px;
}

.orbit-spinner .orbit {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.orbit-spinner .orbit:nth-child(1) {
  left: 0%;
  top: 0%;
  animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
  border-bottom: 8px solid #b93892;
}

.orbit-spinner .orbit:nth-child(2) {
  right: 0%;
  top: 0%;
  animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
  border-right: 8px solid #004918;
}

.orbit-spinner .orbit:nth-child(3) {
  right: 0%;
  bottom: 0%;
  animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
  border-top: 8px solid #5f28c4;
}
.loadingAdnyan {
  background-image: url('../images/adface.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  transform: translateY(40px);
  animation: adnyan-spin 0.8s linear infinite;
}

@keyframes adnyan-spin {
  0% {
    transform: translateY(40px) rotate(0deg);
  }
  50% {
    transform: translateY(40px) rotate(180deg);
  }
  100% {
    transform: translateY(40px) rotate(360deg);
  }
}

@keyframes orbit-spinner-orbit-one-animation {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes orbit-spinner-orbit-two-animation {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes orbit-spinner-orbit-three-animation {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
