#ofiicial-background {
  background-color: rgba(85, 113, 156, 0.8);
  border: solid 3px #00b900;
  border-radius: 10px;
  margin: 10px auto;
  padding: 5px;
  display: flex;
  width: min-content;
}
#url-background {
  display: flex;
  justify-content: center;
  align-items: center;
}
#icon-image {
  height: 50px;
  border-radius: 50%;
  border: solid 2px #6d6d6d;
}
#textarea {
  width: 160px;
}
#official-title {
  color: white;
  font-size: 16px;
  margin: 5px;
}
#official-detail {
  color: white;
  font-size: 10px;
  margin: 3px;
}
#official-link {
  background-color: #00b900;
  width: 100px;
  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  padding: 0 5px;
}

#linebutton {
  display: block;
}
#advertise-background {
  background-color: #559680;
  height: 100%;
}

#advertise-flame {
  width: 100%;
  position: relative;
}
#advertise {
  width: 100%;
}
#linebutton-in-advertise {
  display: block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-45%);
}
#linebutton-image {
  width: 65%;
}
