.registButton {
  background-color: #5f28c4;
  width: 80%;
  border: solid 1px #5f28c4;
  font-size: 16px;
  color: white;
  padding: 5px 0;
  margin: 0 0 20px 0;
  border-radius: 20px;
  transition: 0.4s;
}
.registButton:hover {
  background-color: white;
  color: #5f28c4;
  border: solid 1px #5f28c4;
}

.circle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #5f28c4;
  overflow: hidden;
}

.circle:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100px;
  width: 200px;
  height: 200px;
  background: #999;
  transform-origin: right 100px;
  z-index: 2;
  animation: rotate-circle-left 1s linear forwards;
}
.circle::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 100px;
  width: 200px;
  height: 200px;
  background: #999;
  transform-origin: left 100px;
  z-index: 3;
  animation: rotate-circle-right 1s linear forwards;
}

.cover1 {
  background-color: white;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
  z-index: 4;
}

.check {
  position: absolute;
  color: #5f28c4;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  font-size: 80px;
  text-align: center;
  line-height: 200px;
  z-index: 5;
  opacity: 0;
  animation: check 0.2s ease-in-out 1.5s forwards;
}

.registText {
  position: absolute;
  display: flexbox;
  font-size: 40px;
  color: #5f28c4;
  text-align: center;
  width: 80%;
  bottom: 10%;
  left: 10%;
  vertical-align: bottom;
  opacity: 0;
  animation: regist 0.2s ease-in-out 1.5s forwards;
}

/* チェックマークのアニメーション */
@keyframes check {
  0% {
    transform: scale(0.5) rotate(30deg);
    opacity: 0;
  }
  90% {
    transform: scale(1.3) rotate(-15deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
@keyframes regist {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  90% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate-circle-right {
  0% {
    transform: rotate(0deg);
    background: #999;
  }
  50% {
    transform: rotate(180deg);
    background: #999;
  }
  50.01% {
    transform: rotate(360deg);
    background: #5f28c4;
  }
  100% {
    transform: rotate(360deg);
    background: #5f28c4;
  }
}

@keyframes rotate-circle-left {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
