body{
    text-align: center;
    background-color: rgb(220, 238, 250);
    color: rgb(59, 53, 70);
}
h1{
    font-family: 'serif', serif;
    color: #661cf1;
    background: -webkit-linear-gradient(top, #661cf1, #130331);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-reflect: below -30px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 15%,rgba(0, 0, 0, 0.4));
    /*-webkit-text-stroke: 1px #FFF; 文字縁取り*/
}
a:link {
      color: #e73a3a;
      text-decoration: none;
      
}
a:visited {
      color: #e73a3a;
}
a:hover {
      color: #20C2D3;
}
@media screen and (max-width: 480px) {
h1{
    -webkit-box-reflect: below 0px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 15%,rgba(0, 0, 0, 0.4));
}
}