body {
  text-align: center;
  /*
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url('../images/smoke2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    */
  color: rgb(59, 53, 70);
}
body::before {
  content: '';
  display: block;
  position: fixed;

  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 350vh;
  background: url('../images/smoke2.jpg') center no-repeat;
  background-size: cover;
}
h1 {
  font-family: 'Norican', serif;
  font-weight: normal;
  color: #661cf1;
  background: -webkit-linear-gradient(top, #661cf1, #130331);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*
  -webkit-box-reflect: below -30px -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0.4)
    );*/
  /*-webkit-text-stroke: 1px #FFF; 文字縁取り*/
}
a:link {
  color: #e73a3a;
  text-decoration: none;
}
a:visited {
  color: #e73a3a;
}
a:hover {
  color: #20c2d3;
}
button:focus {
  outline: 0;
}
select:focus {
  outline: 0;
}
@media screen and (max-width: 480px) {
  h1 {
    /*
    -webkit-box-reflect: below -10px -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 15%,
        rgba(0, 0, 0, 0.4)
      );
      */
  }
}
