body::before {
  content: '';
  display: block;
  position: fixed;

  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 350vh;
  background: url('../images/adface.png') center no-repeat;
  background-size: cover;
}
#background-test {
  background-color: aquamarine;
  height: 100vh;
  background: center no-repeat;
  background-size: cover;
}

.TestImageOne {
  background-image: url('../images/adface.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  transform: translateY(40px);
}
.TestImageTwo {
  background-image: url('../images/smoke2.jpg');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  transform: translateY(40px);
}
