body{
    text-align: center;
    background-color: #EFEFE4;
    color: rgb(46, 46, 46);
}
h1{
    font-family: 'Comic Sans MS', cursive;
    color: #e73a3a;
    -webkit-text-stroke: 1px #FFF;
}
.login_button{
    border: 0px;
    width: 151px;
    height: 44px;
    background: url(../line/btn_login_base.png) left top no-repeat;
    margin: 10px;
}
.login_button:hover{
    background: url(../line/btn_login_hover.png) left top no-repeat;
}
.login_button:active{
    background: url(../line/btn_login_press.png) left top no-repeat;
}
#developer{
    font-size: 10px;
    color: rgb(46, 46, 46);
}