.explain-image {
  width: 100%;
}
#explain-tab {
  animation: explain-animation 0.3s linear;
}
@keyframes explain-animation {
  0% {
    transform: scale(0.1);
  }
  50% {
  }
  100% {
    transform: scale(1);
  }
}
#explain-button {
  width: 80%;
}

#info-icon {
  height: 30px;
  float: right;
  margin-right: 10px;

  transform: translateY(-30px);
  background-color: white;
  border: solid 1px #424242;
  border-radius: 50%;
}
#uploadnow-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#upload-area {
  border: solid 2px #424242;
  border-radius: 10px;
  box-shadow: 0 0 8px gray;
  margin: 10px 20px;
  height: 50px;
  background-color: rgba(94, 39, 194, 0.3);
}

#background-sample-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
}
.background-sample-flame {
  border: solid 2px black;
  height: 30vh;
  width: 33.3333%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
#background-sample-select {
  border: solid 2px white;
}
.background-sample {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
