body{
    text-align: center;
    max-width: 500px;
    display: inline;
    
    color: rgb(59, 53, 70);
}
body::before{
    content:"";
  display:block;
  position:fixed;
  bottom: 0;
  z-index:-1;
  width:100%;
  height:350vh;
  background:url('../smoke2.jpg') center no-repeat;
  background-size:cover;
}
.center{
    display: inline-block;
    background: #cec9d8;
    width: 100%;
}
h1{
    font-family: 'serif', serif;
    color: #661cf1;
    background: -webkit-linear-gradient(top, #661cf1, #130331);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-reflect: below -30px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 15%,rgba(0, 0, 0, 0.4));
    /*-webkit-text-stroke: 1px #FFF; 文字縁取り*/
}
.profile{
    background-color: white;
    width: 150px;
    margin: 10px auto;
    margin-top: 5px;
    box-shadow: 0 0 8px gray;
    border-radius: 10px;
    padding: 3px;
}
#profileimage{
    width:100px;
    height:100px;
    border-radius: 50%;
}
#linename{
    color: rgb(0, 212, 64)
}
#namesubtitle{
    font-size: 12px;
}
.submitbutton{
    color: #5f28c4;
    border: solid 1px #5f28c4;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    width: 200px;
    display: inline-block;
    text-decoration: none;
    transition: .4s;
    padding: 5px;
}
.submitbutton:hover{
    background: #5f28c4;
    color: white;
}
/*スマホ対応*/
@media screen and (max-width: 480px) {
h1{
    font-size: 30px;
}
}