body{
    text-align: center;
    background-color: rgb(220, 238, 250);
    color: rgb(59, 53, 70);
}
.center{
    display: inline-block;
}
h1{
    font-family: 'serif', serif;
    color: #661cf1;
    background: -webkit-linear-gradient(top, #661cf1, #130331);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-reflect: below -30px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 15%,rgba(0, 0, 0, 0.4));
    /*-webkit-text-stroke: 1px #FFF; 文字縁取り*/
}
#profileimage{
    width:100px;
    height:100px;
    border-radius: 50%;
}
#linename{
    color: rgb(0, 212, 64)
}
#namesubtitle{
    font-size: 12px;
}
.submitbutton{
    color: #5f28c4;
    border: solid 1px #5f28c4;
    background-color: rgb(220, 238, 250);
    margin: 2px;
    width: 200px;
    display: inline-block;
    text-decoration: none;
    transition: .4s;
    padding: 5px;
}
.submitbutton:hover{
    background: #5f28c4;
    color: white;
}
/*スマホ対応*/
@media screen and (max-width: 480px) {
h1{
    font-size: 30px;
}
}