<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/css/home.css">
    <title></title>
</head>

<body>
    <script src="/src/script/home.js"> </script>
    <h1>シフト希望</h1>
    ようこそ<%=user.username %>さん
    <a href="/setting">設定</a>
    <div>
        <span id="dateText"></span>
        <button id="batu">×</button>
        <button id="sankaku">△</button>
        <button id="timeset">Time</button>
        <button id="prevMonth">前の月</button>
        <button id="nextMonth">次の月</button>
        <p>
            <div id="calendar"></div>
        </p>
        補足希望<br>
        <form method="POST" action="/dataRegister">
            <span name="dataday" data-dataday="8/1"></span>
            <input type="textarea" name="comment">
            <button onclick="">登録</button>
        </form>
    </div>



</body>

</html>