<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title></title>
</head>

<body>
    <script src="/home.js"> </script>
    <h1>シフト希望</h1>
    ようこそ<%=user.username %>さん
    <button onclick="getTest()">設定</button>
    <div>
        <span>Calender</span>
        <span id="dateText"></span>
        <button>×</button><button>△</button><button>Time</button>
        <a href="">◁</a><a href="">▷</a>
        <p>
            Calender
        </p>
        補足希望<br>
        <input type="textarea">
        <button>登録</button>
    </div>



</body>

</html>