<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/css/home.css">
    <title></title>
</head>

<body>
    <script src="/src/script/home.js"> </script>
    <h1>シフト希望</h1>
    ようこそ<%=user.username %>さん
    <button onclick="getTest()">設定</button>
    <div>
        <span id="dateText"></span>
        <button id="batu">×</button>
        <button id="sankaku">△</button>
        <button id="timeset">Time</button>
        <button id="prevMonth">前の月</button>
        <button id="nextMonth">次の月</button>
        <p>
            <div id="calendar"></div>
        </p>
        補足希望<br>
        <input type="textarea">
        <button>登録</button>
    </div>



</body>

</html>