<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <!--
    <%- include("./item.ejs", items) %>
    -->

    <H1>ログイン</H1>
    <a href=<%=lineurl %>>
        LINE ログインテスト
    </a>

    <form method="post" action="/Home">
        <input type="submit" value="create">
    </form>

</body>

</html>