<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <!--
    <%- include("./item.ejs", items) %>
    -->

    <H1>ログイン</H1>
    <a href=<%=lineurl %>>
    </a><br>
    <a href="/auth">
        LINE ログインテスト2
    </a><br>
    <a href="/callback">
        Home
    </a>
    <br>
    <a href="/db">
        DBChecker
    </a>

    <form method="post" action="/Home">
        <input type="text" name="user">
        <p>
            早遅
            <input type="radio" name="worktime" value="早" checked>早番
            <input type="radio" name="worktime" value="遅">遅番
        </p>
        <input type="submit" value="create">
    </form>

</body>

</html>