<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>新規登録</h1>
    <%=user.displayName %>
    <%=user.picture %>
    <form method="POST" action="/register">
        <img src=<%=user.picture%> title="アイコン">
        名前
        <input type=text value=<%=user.displayName %>>
        早遅
        <button>登録</button>
    </form>

</body>

</html>