<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/css/register.css">
    <title></title>
</head>

<body>
    <div class="center">
        <h1>新規登録</h1>
        <div class="profile">
            <div id="linename"><%=user.displayName %></div>
            <img src=<%=user.picture%> alt="アイコン" id="profileimage">
        </div>
        <form method="POST" action="/register">

            名前
            <input type=text value=<%=user.displayName %> name="username">
            <br>
            <span id="namesubtitle">サイト内で使用する名前を記入してください</span>
            <p>
                勤務区分
                <input type="radio" name="worktime" value="早" checked>早番
                <input type="radio" name="worktime" value="遅">遅番
            </p>
            <br>
            <input type="submit" value="登録" class="submitbutton">
        </form>
    </div>

</body>

</html>