<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>設定</h1>
    <img src=<%= user.picture %>></img><%= user.displayName %>
    <br>表示名



    <input type="text" value=<%= user.username %>>
    <br>
    <%= user.worktime %>
</body>

</html>